.title{
flex-shrink: 0;
color: #FFF;
font-family: Bebas Neue;

font-style: normal;
font-weight: 900;
line-height: 90%;
}
.sub-title{
flex-shrink: 0;
color: #FFF;
margin: 20px 0;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
}