.main{
    background-image: url('https://img.freepik.com/premium-photo/exotic-tropical-beach-scenery-from-dreams_287743-1067.jpg?w=996');
    
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}